* {
    font-family: "Open Sans", serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* limite da borda correta padronizado */
}

body {
    background-color: #586C44;
    align-items: center;
    justify-items: center;
}

#logo {
    position: absolute;
    top: 10px;
    left: 2.5%;
}

#logo img {
    width: 140px;
}

#socials {
    position: absolute;
    left: 16%;
    top: 3%;
    justify-content: center;
    align-items: center;
}

.socials-p {
    color: #FFF;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #586C44;
    padding: 20px;
    list-style: none;
    height: 150px;
}

#navbar li {
    display: flex;
    left: 11%;
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin: 0 10px;
    padding: 5px;
    width: 700px;
    /* background-color: red; */
}

#navbar .nav-link {
    color: #FFF;
    text-decoration: none;
    transition: .5s;
    font-size: 18px;
    font-weight: lighter;
    padding: 15px;
}

#navbar .nav-link:hover {
    color: greenyellow;
}

/* #navbar .search-container {
    float: right;
}

#navbar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
} */
  
/* #navbar .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
  
#navbar .search-container button:hover {
    background: #ccc;
} */


/* ICONS SOCIALS */

.fa {
    padding: 20px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 15px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #427E40;
    color: white;
}

.fa-youtube {
    background: #427E40;
    color: white;
}
  
.fa-instagram {
    background: #427E40;
    color: white;
}

.fa-user {
    color: #FFF;
    left: 87%;
    top: 20px;
    position: absolute;

}

.fa-shopping-cart {
    color: #FFF;
    left: 93%;
    top: 20px;
    position: absolute;
}

/* FOOTER */

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: #538051;
    color: #FFF;
    padding: 50px 0;
}

/* SEARCH */
.search-container {
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    padding: 10px;
    max-width: 500px;
    width: 100%;
    transition: all 0.3s ease;
    justify-items: center;
    position: relative;
    left: 40%;
}

.search-container:hover {
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

.form-control.search-input {
    border: none;
    background: transparent;
    padding-left: 20px;
    font-size: 1rem;
    height: 50px;
}

.form-control.search-input:focus {
    box-shadow: none;
    outline: none;
}

.btn-search {
    background-color: #427E40;
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    border: none;
    transition: all 0.3s ease;
    justify-content: end;
}

.btn-search:hover {
    background-color: #427E40;
    transform: scale(1.05);
}

/* MOBILE */

@media(max-width: 490px){
    header {
        width: 100%;
    }

    #logo {
        display: block;
        position: relative;
        margin: 0 auto;
        left: 0;
        width: 140px;
    }

    #navbar {
        display: none;        
    }

    #socials {
        display: none;
    }
}