/* Small */
@media (min-width: 400px) and (max-width: 575px) {
  #navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #586c44;
    padding: 20px;
    list-style: none;
    height: 150px;
  }

  .titulo-manual {
    display: flex;
    /* background-color: red; */
    /* justify-content: center; */
    /* align-items: center; */
  }
}

/* Medium */
@media (min-width: 576px) and (max-width: 767px) {
  #navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #586c44;
    padding: 20px;
    list-style: none;
    height: 150px;
  }
}

/* Large */
@media (min-width: 768px) and (max-width: 991px) {
  #navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #586c44;
    padding: 20px;
    list-style: none;
    height: 150px;
  }

  .titulo-manual {
    display: flex;
    /* background-color: red; */
    /* justify-content: center; */
    /* align-items: center; */
  }
}

/* Extra large */
@media (min-width: 992px) and (max-width: 1199px) {
  #navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #586c44;
    padding: 20px;
    list-style: none;
    height: 150px;
  }

  .titulo-manual {
    display: flex;
    /* background-color: red; */
    /* justify-content: center; */
    /* align-items: center; */
  }

  .search-container {
    display: none;
  }
}

/* Extra extra large */
@media (min-width: 1200px) {
  #navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #586c44;
    padding: 20px;
    list-style: none;
    height: 150px;
  }

  .titulo-manual {
    display: flex;
    /* background-color: red; */
    margin-top: -25px;
    /* justify-content: center; */
    /* align-items: center; */
  }
}

* {
  font-family: "Open Sans", serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* limite da borda correta padronizado */
}

.titulo-produtos-destaque {
  font-family: "Moon Dance", cursive;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  font-size: 35px;
  margin-bottom: 25px;
}

.titulo-perguntas-frequente {
  font-family: "Moon Dance", cursive;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  font-size: 35px;
  margin-bottom: 25px;
  margin-top: 25px;
}

body {
  background-color: #586c44;
  align-items: center;
  justify-items: center;
}

/* HEADER */

#logo {
  position: absolute;
  top: 10px;
  left: 2.5%;
}

#logo img {
  width: 140px;
}

#socials {
  position: absolute;
  left: 16%;
  top: 3%;
  justify-content: center;
  align-items: center;
}

.socials-p {
  color: #fff;
}

#navbar li {
  display: flex;
  left: 4%;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 10px;
  padding: 5px;
  width: 500px;
}

#navbar .nav-link {
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
  font-size: 18px;
  font-weight: lighter;
  padding: 15px;
}

#navbar .nav-link:hover {
  color: greenyellow;
}

.videos-manual {
  display: flex;
  /* background-color: red; */
  justify-content: center;
  /* max-width: 100%; */
  width: 100%;
  /* align-items: ; */
}

/* CAROUSSEL */

swiper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 500px;
  margin: auto;
}

/* Ajustar o tamanho das imagens */
swiper-slide .card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

swiper-slide .sliderText img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.swiper {
  width: 95%;
}

/* PRODUTOS DASHBOARD ESCOVA AH */

.grid-produtos {
  display: flex;
  width: 100%;
  justify-content: center;
}

.card-produto {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  margin: 5px;
  justify-content: center;
  align-items: center;
}

.img-produto {
  height: 650px;
}

.botao-comprar-produto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #427e40;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  margin-top: 15px;
}

.titulo-produto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
}

.preco-produto {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #427e40;
}

/* PRODUTOS DESCARTAVEIS */

.grid-produtos-descartaveis {
  display: flex;
  width: 100%;
  justify-content: center;
}

.card-produto-descartaveis {
  background-color: #fff;
  padding: 15px;
  /* border-radius: 5px; */
  margin: 5px;
  justify-content: center;
  align-items: center;
}

.img-produto-descartavel {
  height: 418px;
}

/* ICONS SOCIALS */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 15px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #427e40;
  color: white;
}

.fa-youtube {
  background: #427e40;
  color: white;
}

.fa-instagram {
  background: #427e40;
  color: white;
}

.fa-user {
  color: #fff;
  left: 87%;
  top: 20px;
  position: absolute;
}

.fa-shopping-cart {
  color: #fff;
  left: 93%;
  top: 20px;
  position: absolute;
}

/* FAQ */

.faq {
  max-width: 95%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}

.faq-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.faq-item h3 {
  cursor: pointer;
  padding: 10px;
  margin: 0;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-item h3::after {
  content: "\25BC";
  /* Unicode para seta para baixo */
  font-size: 14px;
  transition: transform 0.3s;
}

.faq-item.active h3::after {
  transform: rotate(180deg);
}

.faq-item p {
  display: none;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
}

.faq-item.active p {
  display: block;
}

/* PRODUTOS */

.tela-produtos {
  /* height: 100vh; */
  width: 100vw;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tela-produtos h2 {
  font-family: "Moon Dance", "serif";
  display: block;
  margin-top: 115px;
  font-size: 22px;
}

.preco-tela-produtos {
  color: #57BF6D; /* Cor original do preço */
  display: inline;
}

.frete-gratis {
  color: black;
  font-weight: bold;
}

.botao-comprar-tela-produto {
  margin-top: 15px;
  flex: block;
  width: 100%;
  background-color: #40803F;
  color: #fff;
  height: 40px;
  border: none;
  border-radius: 50px;
  font-size: 15px;
}

.produtos-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colunas */
  gap: 20px; /* Espaçamento entre os produtos */
  /* background-color: rebeccapurple; */
  width: 60%;
  padding: 20px;
  margin-top: 15px;
  text-align: center;
}

.tela-produtos-card-produto img {
  width: 100%;
}

.tela-produtos-card-produto p {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
}

/* MANUAL */

.manual {
  display: flex;
  justify-content: center;
  /* Centraliza horizontalmente */
  align-items: center;
  /* Centraliza verticalmente */
  height: 85vh;
  /* Ocupa toda a altura da tela */
  /* background-color: blue; */
  /* padding: 0 auto; */
}

.manual img {
  width: 70%;
  height: auto;
  object-fit: fill;
}

.titulo-personalizado-manual {
  font-family: "Carter One", serif;
  font-weight: 400;
  font-style: normal;
  color: #e9dfb4;
  font-size: 36px;
  padding: 0 7px;
}

.text-sonho-manual {
  color: #ffd287;
  font-family: "Carter One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
}

.descricao-titulo-manual {
  text-align: center;
  width: 60%;
  color: #fff;
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 30px;
  font-weight: 400;
}

.card-video {
  width: 30%;
  height: 380px;
  border-radius: 3px;
  margin-right: 5px;
  background-color: #fff;
  /* padding: 10px 10px 70px 10px; */
}

.titulo-card-videos {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  color: #586c44;
  padding-bottom: 5px;
}

.download-manuais {
  width: 100%;
  background-color: #cdd6cb;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 45px;
}

.titulo-download-manuais {
  /* display: block; Garante que o título ocupe a linha toda */
  margin-bottom: 10px; /* Espaço abaixo do título */
  text-align: center;
  font-size: 18px;
  color: #333333;
  font-family: "Roboto Slab", "serif";
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 10px; /* Espaçamento entre os inputs */
  margin-top: 35px;
}

.form-container input {
  /* width: 00px; */
  padding: 10px;
  font-size: 16px;
  border: none;
}

.form-container button {
  padding: 10px;
  font-size: 18px;
  border-radius: 50px;
  background-color: #40803f;
  color: #fff;
  border: none;
}

/* FOOTER */

footer {
  width: 100%;
  position: relative;
  bottom: 0;
  text-align: center;
  background-color: #538051;
  color: #fff;
  padding: 50px 0;
}

/* SEARCH */
.search-container {
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  padding: 10px;
  max-width: 500px;
  width: 100%;
  transition: all 0.3s ease;
  justify-items: center;
  position: relative;
  left: 30%;
}

.search-container:hover {
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

.form-control.search-input {
  border: none;
  background: transparent;
  padding-left: 20px;
  font-size: 1rem;
  height: 50px;
}

.form-control.search-input:focus {
  box-shadow: none;
  outline: none;
}

.btn-search {
  background-color: #427e40;
  color: white;
  border-radius: 50px;
  padding: 10px 20px;
  border: none;
  transition: all 0.3s ease;
  justify-content: end;
}

.btn-search:hover {
  background-color: #427e40;
  transform: scale(1.05);
}

/* CARRINHO */

.body-carrinho {
  background-color: #fff;
  max-width: 100%;
  max-height: 100%;
}

/* MOBILE */

@media (max-width: 490px) {
  header {
    width: 100%;
  }

  #logo {
    display: block;
    position: relative;
    margin: 0 auto;
    left: 0;
    width: 140px;
  }

  #navbar {
    display: none;
  }

  #socials {
    display: none;
  }
}
